* {
    padding: 0;
    margin: 0;
}

nav {
    background-color: black;
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: center;
}


nav ul {
    list-style: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gameContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 16vw);
    grid-template-columns: repeat(3, 16vw);
    position: relative;
}

.line{
    background-color: brown;
    height: 3px;
    width: 0;
    position: absolute;
    transition: width .4s ease-in-out;
}

.box {
    border: 2px solid black;
    font-size: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box:hover {
    background-color: aquamarine;
}

.info {
    font-size: 25px;
    width: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.gameInfo {
    padding: 30px;
    margin-top: 30px;
    border: 2px solid grey;
}

.person {
    margin: 30px;
}

.imgBox {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.imgBox img {
    width: 0;
    transition: width 1s ease-in-out;

}


.bt-0 {
    border-top: 0;
}

.br-0 {
    border-right: 0;
}

.bb-0 {
    border-bottom: 0;
}

.bl-0 {
    border-left: 0;
}

#reset {
    padding: 5px 20px;
    background-color: lightcyan;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid black;
    float: right;
    font-weight: bold;
    font-size: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width : 750px) {
    .gameContainer {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:400px) {
    .person {
        padding-top: 30px;
        justify-items: center;
    }

    h1 {
        font-size: 20px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        border-bottom: 2px solid goldenrod;
    }
}